
<h4>ABOUT</h4>
<hr />
<div class="row">
    <div class="col-md-9">
        <p>This website is not a commercial project. It's a test project. </p>
        <p>It contains a gallery with some articles, each of them represents a game. The games you can see here are created by Ubisoft.</p>
        <p>The website uses an In-Memory-Database to store the information about games.</p>
        <p>The application supports a basic CRUD functionality to show, edit, create and delete the articles.</p>
    </div>
</div>


<div class="navbar">
    @Html.ActionLink("Back to List", "Index", "/")
</div>