
<h4>Contacts</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <p>This website was created by Ivan Kukushkin</p>
        <dl class="dl-horizontal">
            <dt>
                Developer
            </dt>
            <dd>
                Ivan Kukushkin
            </dd>
            <dt>
                Tel
            </dt>
            <dd>
                +49 176 214 75 898
            </dd>
            <dt>
                Email
            </dt>
            <dd>
                ivankukushkinjob@gmail.com
            </dd>
            <dt>
                LinkedIn
            </dt>
            <dd>
                <a href="https://www.linkedin.com/in/ivankukushkin/" class="table-link">My LinkedIn profile</a>
            </dd>
        </dl>
    </div>
</div>


<div class="navbar">
    @Html.ActionLink("Back to List", "Index", "/")
</div>