@model List<UbisoftGames.Models.Game>

@{
    ViewData["Title"] = "Games";
}


<div class="games-container">
    <div class="game-cards">

        @foreach (var item in Model)
        {
        <a class="CardGame gameModule" href="/@item.Id">
            <div class="">
                <div class="CardGame__image-container">
                    <img src="@Html.Raw( item.Image)" alt="card-game" class="CardGame__image">
                </div>
                <div class="CardGame__content-container">
                    <p class="CardGame__content-title gameModule">@item.Name</p>
                    <div class="CardGame__content-sub-wrapper">
                        <p class="CardGame__content-subtitle">@(item.IsReleased ? "Available Now" : "Coming Soon" ) </p>
                    </div>
                </div>
            </div>
            <img alt="" class="CardGame__shadow" src="">
        </a>
        }

    </div>
</div>