body {
    font-family: UbisoftSans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background: #1d1e22;
    color: #000;
}

img {
    width: 320px;
}

.CardGame {
    display: inline-block;
    width: 270px;
    height: 230px;
    margin-right: 15px;
    background: #fff;
    overflow: hidden;
    cursor: pointer;
    -webkit-box-shadow: 0 4px 16px -5px rgba(50,50,93,.12), 0 2px 3px -1px rgba(0,0,0,.08);
    -webkit-transition: all .25s cubic-bezier(.33,.63,.65,.99);
    -o-transition: all .25s cubic-bezier(.33,.63,.65,.99);
    transition: all .25s cubic-bezier(.33,.63,.65,.99);
    box-shadow: 0 4px 16px -5px rgba(50,50,93,.12), 0 2px 3px -1px rgba(0,0,0,.08);
    margin-bottom: 20px;
}